<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuY0nZvKnS9jFj71a8BOVeRFH_Ac8HMgE</string>
	<key>GCM_SENDER_ID</key>
	<string>1083981792720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rai.fashion</string>
	<key>PROJECT_ID</key>
	<string>rairus</string>
	<key>STORAGE_BUCKET</key>
	<string>rairus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083981792720:ios:ae0575d94eed65971f25d5</string>
</dict>
</plist>
